@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
  --font-display: var(--font-satoshi), var(--font-inter), var(--font-sans);
  --font-body: var(--font-inter), var(--font-sans);
  --default-mono-font-family: var(--font-plex-mono), var(--font-mono);
}
